.socialIcon {
    color: #333;
    display: inline-block;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .socialIcon:hover {
    color: #1877f2; 
  }
  
  .socialIcon:nth-child(2):hover {
    color: #ff0000; 
  }
  
  .socialIcon svg {
    width: 2rem;
    height: 2rem;
  }
  